{% extends 'base.html' %}

{% block content %}
<!-- City Section -->
<section class="py-5" style="background-color: #e8f4fc;">
    <div class="container">
        <h2 class="mb-4">{{ category|capitalize }} in {{ city }}</h2>
        <h5 class="mb-4">Towns in {{ city }}</h5>
        <div class="row">
            {% for town in towns %}
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="p-3 border rounded shadow-sm bg-white text-center">
                    <h5 class="text-dark">{{ town }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
